DEPTH_ANYTHING_DEVICE=auto
DEPTH_ANYTHING_DEFAULT_ENCODER=vits
# DEPTH_ANYTHING_OUTPUT_DIR=g:\python_project\depth_anything\outputs
# DEPTH_ANYTHING_CHECKPOINT_DIR=g:\python_project\depth_anything\checkpoints
# DEPTH_ANYTHING_V2_HOME=g:\python_project\depth_anything\third_party\Depth-Anything-V2
# VIDEO_DEPTH_ANYTHING_HOME=g:\python_project\depth_anything\third_party\Video-Depth-Anything
# HF_ENDPOINT=https://hf-mirror.com
